<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>b0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1104,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1288,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1472,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1656,0},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>br.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1104,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1288,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1472,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1656,263},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>g9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1104,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1288,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1472,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1656,526},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>r9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1104,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1288,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1472,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rs.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1656,789},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>w.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wd4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1104,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1288,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1472,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{1656,1052},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{0,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{184,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>y9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{368,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yd2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{552,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yr.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{736,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ys.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{184,263}</string>
                <key>spriteSourceSize</key>
                <string>{184,263}</string>
                <key>textureRect</key>
                <string>{{920,1315},{184,263}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>unoCards.png</string>
            <key>size</key>
            <string>{1840,1840}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9cbc2f73b63c8e1a2adf020421866c04:2eeb84a2cdd7d9f4fc0f276adb73a447:21e3682f1e6ced03511367316297682c$</string>
            <key>textureFileName</key>
            <string>unoCards.png</string>
        </dict>
    </dict>
</plist>
